/*
  the below css applies to all <a> tags
  in the nav class
*/

a{
  float: right;
  color: white;
  text-align: center;
  font-size: 25px;
  font-style: verdana;
  color: white;
  background: darkslategray;
  padding: 10px 20px;
  display: block;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  text-decoration: none;
}

/*
  below determines what happens when
  you hove over the blog link
*/

a:hover{
  /* insert background color */
}

/**
  **important**
  notice url(../images/background-image.jpg)
*/

body {
  background: url(../images/background-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
  container that holds all code for the body element
*/

.container {
  text-align: center;
  width: 100%;
  max-width: 960px;

}

/*
  description of our calculator
*/
.description {
  color: white;
  font-style: arial;
  font-weight: bold;
  background-color: darkslategray;
  opacity: .6;
  height: 100px;
  width: 300px;
  box-shadow: 5px 10px 18px black;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

/*
  use css transform to center the floating div
*/

.floating-div {
  background-color: darkgray;
  opacity: .6;
  height: 200px;
  width: 300px;
  box-shadow: 5px 10px 18px black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

/*
  formatting for the input forms
*/

input{
  box-shadow: 5px 5px 5px black;
  background-color: darkgray;
  position: relative;
  font-size: 16pt;
  width: 60px;
  height: 40px;
  margin: 0 auto;
  border-radius: 10px;
  top: 40px;

}

/*
  output result of rate * distance
*/

.output{
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  font-size: 16pt;
  color: black;
  background-color: darkgray;
  height: 40x;
  width: 130px;
  border-color: black;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);


}

/*
  currently not applied, but centers both
  horizontally, and vertically
*/

.center
{
  cursor: crosshair;
  color: darkgray;
  height: 20px;
  width: 85px;
  position: fixed;
  left: 50%;
  top: 225%;
  transform: translate(-50%, -50%);

}

/*
  newFont is for input fields and output descriptions
*/

.newFont{
  font-style: verdana;
  font-weight: bold;
}

/*
  small text style
*/

.smallText{
  font-size: 12px;
}
/*
  position of label, which appears beside input boxes
*/

label{
  position: relative;
  top: 35px;
}
